pre, code, .tc-edit-texteditor
{
  font-family: Consolas, Monaco, monospace;
  font-size: 10pt;
  line-height: 15pt;
}

.tiny-monospace
{
  font-family: Consolas, Monaco, monospace;
  font-size: 8pt;
  line-height: 120%;
}

.full-slider
{
  width: 600px;
}

td.func_name
{
  width: 100px;
  text-align: right;
}